{% extends "base.html" %}
{% block content %}
<div class="text-center">

  <img src="{{ url_for('static', filename='img/daniel_barbosa.jpg') }}" 
       class="rounded-circle shadow mb-4"
       width="180" height="180">

  <h1 class="mb-4 text-info">Daniel Barbosa</h1>
  <h4 class="text-light">Programador | Automação | Bioinformática Aplicada</h4>
  <p class="mt-4">
    Sou <strong>programador com formação em Farmácia e pós-graduado em análises clínicas e microbiologia</strong>, apaixonado por unir ciência e tecnologia.
    Desenvolvo ferramentas em <strong>Python</strong> aplicadas à saúde, bioinformática e automação de processos científicos. Dentre meus projetos estão a criação de site para aportar as ferramentas desenvolvidas durante a pesquisa científica, consulta de banco de dados genéticos para extração de informações de sequências pré-determinadas, automação de processos na área da saúde, comparação e classificação de amostras genéticas.
  </p>
  <a href="/projetos" class="btn btn-info mt-3">Ver Projetos</a>
</div>
{% endblock %}

